.aceclubs{
    background-image:url('../img/pngcards/ace_of_clubs.png');
}
.twoclubs{
    background-image:url('../img/pngcards/2_of_clubs.png');
}
.threeclubs{
    background-image:url('../img/pngcards/3_of_clubs.png');
}
.fourclubs{
    background-image:url('../img/pngcards/4_of_clubs.png');
}
.fiveclubs{
    background-image:url('../img/pngcards/5_of_clubs.png');
}
.sixclubs{
    background-image:url('../img/pngcards/6_of_clubs.png');
}
.sevenclubs{
    background-image:url('../img/pngcards/7_of_clubs.png');
}
.eightclubs{
    background-image:url('../img/pngcards/8_of_clubs.png');
}
.nineclubs{
    background-image:url('../img/pngcards/9_of_clubs.png');
}
.tenclubs{
    background-image:url('../img/pngcards/10_of_clubs.png');
}
.jackclubs{
    background-image:url('../img/pngcards/jack_of_clubs2.png');
}
.queenclubs{
    background-image:url('../img/pngcards/queen_of_clubs2.png');
}
.kingclubs{
    background-image:url('../img/pngcards/king_of_clubs2.png');
}

.acespades{
    background-image:url('../img/pngcards/ace_of_spades.png');
}
.twospades{
    background-image:url('../img/pngcards/2_of_spades.png');
}
.threespades{
    background-image:url('../img/pngcards/3_of_spades.png');
}
.fourspades{
    background-image:url('../img/pngcards/4_of_spades.png');
}
.fivespades{
    background-image:url('../img/pngcards/5_of_spades.png');
}
.sixspades{
    background-image:url('../img/pngcards/6_of_spades.png');
}
.sevenspades{
    background-image:url('../img/pngcards/7_of_spades.png');
}
.eightspades{
    background-image:url('../img/pngcards/8_of_spades.png');
}
.ninespades{
    background-image:url('../img/pngcards/9_of_spades.png');
}
.tenspades{
    background-image:url('../img/pngcards/10_of_spades.png');
}
.jackspades{
    background-image:url('../img/pngcards/jack_of_spades2.png');
}
.queenspades{
    background-image:url('../img/pngcards/queen_of_spades2.png');
}
.kingspades{
    background-image:url('../img/pngcards/king_of_spades2.png');
}

.acehearts{
    background-image:url('../img/pngcards/ace_of_hearts.png');
}
.twohearts{
    background-image:url('../img/pngcards/2_of_hearts.png');
}
.threehearts{
    background-image:url('../img/pngcards/3_of_hearts.png');
}
.fourhearts{
    background-image:url('../img/pngcards/4_of_hearts.png');
}
.fivehearts{
    background-image:url('../img/pngcards/5_of_hearts.png');
}
.sixhearts{
    background-image:url('../img/pngcards/6_of_hearts.png');
}
.sevenhearts{
    background-image:url('../img/pngcards/7_of_hearts.png');
}
.eighthearts{
    background-image:url('../img/pngcards/8_of_hearts.png');
}
.ninehearts{
    background-image:url('../img/pngcards/9_of_hearts.png');
}
.tenhearts{
    background-image:url('../img/pngcards/10_of_hearts.png');
}
.jackhearts{
    background-image:url('../img/pngcards/jack_of_hearts2.png');
}
.queenhearts{
    background-image:url('../img/pngcards/queen_of_hearts2.png');
}
.kinghearts{
    background-image:url('../img/pngcards/king_of_hearts2.png');
}

.acediamonds{
    background-image:url('../img/pngcards/ace_of_diamonds.png');
}
.twodiamonds{
    background-image:url('../img/pngcards/2_of_diamonds.png');
}
.threediamonds{
    background-image:url('../img/pngcards/3_of_diamonds.png');
}
.fourdiamonds{
    background-image:url('../img/pngcards/4_of_diamonds.png');
}
.fivediamonds{
    background-image:url('../img/pngcards/5_of_diamonds.png');
}
.sixdiamonds{
    background-image:url('../img/pngcards/6_of_diamonds.png');
}
.sevendiamonds{
    background-image:url('../img/pngcards/7_of_diamonds.png');
}
.eightdiamonds{
    background-image:url('../img/pngcards/8_of_diamonds.png');
}
.ninediamonds{
    background-image:url('../img/pngcards/9_of_diamonds.png');
}
.tendiamonds{
    background-image:url('../img/pngcards/10_of_diamonds.png');
}
.jackdiamonds{
    background-image:url('../img/pngcards/jack_of_diamonds2.png');
}
.queendiamonds{
    background-image:url('../img/pngcards/queen_of_diamonds2.png');
}
.kingdiamonds{
    background-image:url('../img/pngcards/king_of_diamonds2.png');
}

.joker53{
    background-image:url('../img/pngcards/red_joker.png');
}

.joker54{
    background-image:url('../img/pngcards/black_joker.png');
}